<div class="row text-center">
  <div class="col-md-12">
    <h1>ToDo</h1>
  </div>
</div>

<div class="row mt-5 text-center">
  <div class="col-md-12">
    <form class="" [formGroup]="todoForm">
      <div class="mb-5">
        <input class="me-3" type="text" formControlName="addTodo" />
        @if(isEditing) {
        <button class="btn btn-sm btn-success" (click)="save()">Save</button>
        } @else if(!isEditing) {
        <button class="btn btn-sm btn-success" (click)="addTodo()">Add</button>
        }
      </div>
      @for(item of todoList; track item; let index = $index) {
      <div class="row text-center">
        <div class="col-md-12">
          <ul class="">
            <div class="justify-content-center d-flex">
              <li [ngClass]="{ done: item.flag }">{{ item.item }}</li>
              <button class="ms-5" (click)="done(index)">
                @if(item.flag) { Undone } @else { Done }
              </button>
              <button class="ms-2" (click)="editTodo(item.item, index)">
                Edit
              </button>
              <button class="ms-2" (click)="deleteTodo(index)">Delete</button>
            </div>
          </ul>
        </div>
      </div>
      } @empty {
      <div class="row mt-5">
        <div class="col-md-12">
          <p>No ToDo</p>
        </div>
      </div>
      }
    </form>
  </div>
</div>
