<body>
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="text-warning text-decoration-underline">ToDo</h1>
    </div>
  </div>

  <div class="row mt-5 text-center">
    <div class="col-md-12">
      <form [formGroup]="todoForm">
        <div class="mb-5 justify-content-center d-flex">
          <input
            class="me-3 form-control w-25 border-dark"
            type="text"
            placeholder="Enter ToDo"
            formControlName="addTodo"
            name="ToDo"
          />
          @if(isEditting) {
          <button class="btn btn-sm btn-success" (click)="saveTodo()">
            Save
          </button>
          } @else if(!isEditting) {
          <button
            class="btn btn-sm btn-success"
            (click)="addTodo()"
            [disabled]="!todoForm.value.addTodo"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
          }
        </div>

        @for(todo of todoList | async; track todo; let index = $index) {
        <div class="row text-center">
          <div class="col-md-12">
            <ul style="list-style-type: none">
              <div class="justify-content-center d-flex">
                <li>
                  <span class="me-2 fw-light li-item-index">
                    {{ index + 1 }}.
                  </span>
                  <span [ngClass]="{ done: todo.flag }" class="text-capitalize">
                    {{ todo.item }}
                  </span>
                </li>
                <button
                  class="ms-5 btn btn-sm btn-primary"
                  (click)="markDone(index)"
                  [disabled]="isEditting"
                >
                  @if(todo.flag) { Undone } @else {
                  <fa-icon [icon]="faCheck"></fa-icon> }
                </button>
                @if(!todo.flag) {
                <button
                  class="ms-2 btn btn-sm btn-warning"
                  (click)="editTodo(todo.item, index)"
                  [disabled]="isEditting"
                >
                  <fa-icon [icon]="faPen"></fa-icon>
                </button>
                }
                <button
                  class="ms-2 btn btn-sm btn-danger"
                  (click)="deleteTodo(todo.todoId)"
                  [disabled]="isEditting"
                >
                  <fa-icon [icon]="faTrashCan"></fa-icon>
                </button>
              </div>
            </ul>
          </div>
        </div>
        } @empty {
        <div class="row pt-5 mt-5">
          <div class="col-md-12">
            <p class="text-muted">No ToDo</p>
          </div>
        </div>
        }
      </form>
    </div>
  </div>
</body>
