body {
  overflow-y: hidden;
}

.li-item-index {
  color: rgb(218, 237, 237);
  font-size: smaller;
}

.done {
  text-decoration: line-through;
  background-color: rgba(255, 148, 148, 0.145);
  /* opacity: 0.5; */
}
