body {
  overflow-y: hidden;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 26, 72),
    rgb(214, 214, 214)
  );
  max-width: 400px;
  width: 20rem;
  height: 12rem;
}
