/* You can add global styles to this file, and also import other style files */
@import "../node_modules/alertifyjs/build/css/alertify.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "../node_modules/alertifyjs//build/css/themes/default.min.css";

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(66, 65, 65),
    rgb(214, 214, 214)
  );
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  -webkit-text-fill-color: red;
}
